<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@200&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet" />
    <title>Portfolio</title>
    
    <style>
    body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    }

    #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(10, 7, 7);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    }

    #myBtn:hover {
    background-color: #555;
    }
    </style>

</head>

<body>
    
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
    <script>
    // Get the button
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
    </script>
    <header>
        <div class="container">
            <nav class="flex items-centre justify-between">
                <div class="left flex justfiy-right">
                    <div class="logo"> <img src="/A-removebg-preview.png" width="140" height="140" alt="logo" style="margin-top: -30px;"> </div>
                    <div style="margin-top: 40px;"> <a href="#">Home</a> <a href="#">About</a> <a href="#">My Projects</a> <a href="#">Skills</a></li>
                        <a href="#">More</a> </div>
                </div>
                <div ><a href="#visme_d"><button class="btn btn-primary">Contact</button> </a> </div>
            </nav>
        </div>
        <div class="hero flex items-centre justify-between">
            <div class="left flex-1 justify-center">
                <img src="/WhatsApp_Image_2023-10-31_at_12.41.49_ef8478bd-removebg-preview.png" /> 
                <img src="images/me.jpg" alt="" class="rounded-full shadow-lg" />
            </div>
            <div class="right flex-1">
                <br>
                <h1>
                    I'm a Java Full<br />Stack
                    <span>Developer</span>
                </h1>
                <p>
                    <a href="https://www.instagram.com/aj_rocks1052/"><i style="font-size: 40px;margin-top: 20px;margin-left: 0px;
            color:#e80454 ;" class="fa-brands fa-instagram fa-lg"></i></a>
            <a href="https://github.com/AjaySolomon"><i style="font-size: 40px;margin-left: 40px;margin-top: 20px;margin-left: 50px;
            color: rgb(161, 2, 247);" class="fa-brands fa-github" style="color: #0086ec;"></i></a>
            <a href="https://www.linkedin.com/in/antonis-ajay-solomon-1b9a891aa/"><i style="font-size: 40px;margin-left: 40px;margin-top: 20px;margin-left: 50px;
            color: blue;" class="fa-brands fa-linkedin"></i></a>

                </p>
                <div><a href="/ANTONIS AJAY SOLOMON CV final.pdf (1).pdf"><button class="btn btn-secondary">DOWNLOAD CV</button></a></div>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="container flex items-centre">
            <div class="left flex-1 justify-right">
                <img style="margin-left: -100px;" src= "/WhatsApp Image 2024-01-18 at 13.15.06_87870b97.jpg"
                    height="300px" width="500px"
                    alt="profile pic" />
            </div>
            <div class="right flex-1">
                <h1>𝒜𝓑𝒪𝒰𝒯 𝓜𝓔</h1>
                <h3>Hello! I'm AJAY .</h3>
                <p>
                    Passionate and diligent engineering graduate seeking an entry-level
        position in a dynamic software company. Eager to apply my technical
        skills, creativity, and enthusiasm for problem-solving to contribute
        effectively to software development projects while continuously
        learning and growing.
                </p>
                
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <h1 class="services-head">❝𝐌𝐲 𝐏𝐫𝐨𝐣𝐞𝐜𝐭𝐬❞</h1>
            <p>All your digital needs... covered.</p>
            <div class="card-grid">
                <div class="card">
                    <img src="https://source.unsplash.com/1600x900/?nature,water" />
                    <h2>E-COMMERCE WEBSITE</h2>
                    <a href="https://github.com/AjaySolomon/E-com_website.git">
                        Github  Repo
                    </a>
                </div>
                <div class="card">
                    <img src="https://source.unsplash.com/1600x900/?boy,men" />
                    <h2>Web Development</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Nulla, debitis?
                    </p>
                </div>
                <div class="card">
                    <img src="https://source.unsplash.com/1600x900/?car,bike" />
                    <h2>Content Writing</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Nulla, debitis?
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="\">
        <div class="container">
            <h1 class="services-head">𝓢k𝓲𝓵𝓵𝓼</h1>
            <p>All your digital needs... covered.</p>
            <div class="card-grid">
                <div class="card" >
                    <h2>Java Full Stack  </h2>
                    
                    <button style="height: 80px; width: 120px;text-decoration: none;display: inline-block;border: none;"><h2 style="color: #ED1D25;">Core Java</h2> <i style="margin-left: 10px;font-size: 30px;" class="fa-brands fa-java"></i></button><br>
                    <!-- <a href="https://github.com/AjaySolomon/E-com_website.git">
                        
                    </a> -->
                    
                </div>
                <br><br>
                <div class="card" >
                    
                    <h2>Web Development </h2>
                        <br>
                        <div >
                            <button style="height: 80px; width: 120px;text-decoration: none;background-color: rgb(255, 93, 6);margin-left: 20px;border: none;display: flex;display: inline-block;"><h2>HTML</h2> <i style="margin-left: 10px;font-size: 50px;" class="fa-brands fa-html5"></i></button>

                            <button style="height: 80px; width: 120px;text-decoration: none;background-color: rgb(34, 170, 255);margin-left: 20px;border: none;display: flex;display: inline-block;"><h2>CSS</h2> <i style="margin-left: 10px; font-size: 50px;"class="fa-brands fa-css3-alt"></i></button>
                            
                            <button style="height: 80px; width: 120px;text-decoration: none;background-color: rgb(240, 244, 8);margin-left: 20px;border: none;display: flex;display: inline-block;"><h2>JS</h2> <i style="margin-left: 10px;font-size: 50px;" class="fa-brands fa-js"></i></button>
                        </div>
                </div>
                <br><br>
                <div class="card">
                    
                    <h2>Database</h2><br>
                    <button style="height: 80px; width: 120px;text-decoration: none;background-color:#ff0011;border: none;"><h2>My SQL</h2> <i style="font-size: 50px;" class="fa-solid fa-database"></i></button>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- <div id="">
        <h1 style="text-align: center;">❝Contact 𝐌𝐞❞</h1>
        <br><br>
        <div style="border: 3px solid black;height: 400px;width: 400px;margin: 50px 560px ;">
    
    <form action="#" th:action="@{/register}" th:object="${registration}" method="post" class="fo">
        <br><br>
        <label for="name">Name:</label>
        
        <input style="width: 150px;" type="text" id="name" name="name" th:field="*{name}" required><br><br>
    
        <label for="email">Email:</label>
        <input style="width: 150px;" type="email" id="email" th:field="*{email}" required><br><br>

        <label for="number">Phone Number:</label>
        <input style="width: 100px;" type="tel" id="number" th:field="*{number}" required><br><br><br>
        <input style="border-radius: 20px;height: 30px;width: 100px;" type="submit" value="Register">
    -->
    <!-- <div class="visme_d" data-title="Contact Us Contact Form" data-url="8r6w671v-contact-us-contact-form?fullPage=true" data-domain="forms" data-full-page="true" data-min-height="100vh" data-form-id="30750"></div><script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script> -->
    <div class="visme_d" data-title="Contact Us Contact Form" data-url="8r6w671v-contact-us-contact-form" data-domain="forms" data-full-page="false" data-min-height="500px" data-form-id="30750"></div><script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>
    <br><br>
    <div>
        <h2 style="font-size: 40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-align: center;" >✌𝓐𝓷𝓽𝓸𝓷𝓲𝓼 𝓐𝓳𝓪𝔂 𝓢𝓸𝓵𝓸𝓶𝓸𝓷✌</h2>
        <br>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quasi incidunt aut nesciunt enim eius voluptas.</p>
        <br>
        <button style="margin-left: 700px;font-size: 30px;text-decoration: none;border: transparent;"><i class="fa-brands fa-square-twitter"></i></button>
        <button style="font-size: 30px;text-decoration: none;border: transparent;"><i class="fa-brands fa-facebook"></i></button>
        <button style="font-size: 30px;text-decoration: none;border: transparent;"><i class="fa-brands fa-whatsapp"></i></button>
        <button style="font-size: 30px;text-decoration: none;border: transparent;"><i class="fa-brands fa-instagram"></i></button>
        <br>
        <br>
        <p style="text-align: center;">© Copyright . All Rights Reserved</p>
    </div>
</body>

</html>